<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/jdbc
http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<context:component-scan base-package="org.sgk.controller"></context:component-scan>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="localeChangeInterceptor" />
				<!-- <ref bean="measurementInterceptor" /> -->
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="webBindingInitializer">
			<bean class="org.sgk.controller.ReservationBindingInitializer"></bean>
		</property>
	</bean>

	<!-- <bean id="contentNegotiatingResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver"> 
		<property name="order" value="#{T(org.springframework.core.Ordered).HIGHEST_PRECEDENCE}"></property> 
		<property name="mediaTypes"> <map> <entry key="html" value="text/html"></entry> 
		<entry key="pdf" value="application/pdf"></entry> <entry key="xls" value="application/vnd.ms-excel"></entry> 
		<entry key="xml" value="application/xml"></entry> <entry key="json" value="application/json"></entry> 
		</map> </property> </bean> -->
	<!-- <property name="order" value="#{contentNegotiatingResolver.order+1}"></property> -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1"></property>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en"></property>
		<property name="cookieName" value="elearnLocaleCookie"></property>
		<property name="cookieMaxAge" value="3600"></property>
	</bean>

	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="locale"></property>
	</bean>

	<!-- <bean id="measurementInterceptor" class="org.sgk.controller.MesurementInterceptor"></bean> -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.h2.Driver" />
		<property name="url"
			value="jdbc:h2:mem:test;MODE=Oracle;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>



	<!-- <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" 
		id="entityManagerFactory"> <property name="dataSource" ref="dataSource"></property> 
		</bean> -->


	<!-- <jdbc:embedded-database id="dataSource" type="HSQL"> <jdbc:script location="classpath:schema.sql" 
		/> <jdbc:script location="classpath:test-data.sql" /> </jdbc:embedded-database> -->

	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="order" value="0"></property>
		<property name="exceptionMappings">
			<props>
				<prop key="org.sgk.controller.ReservationNotAvailableException">reservationNotAvailable</prop>
			</props>
		</property>
		<property name="defaultErrorView" value="error"></property>
	</bean>
</beans>

